<div class="container">
<h1>My Orders</h1>
  <% @orders.each do |order| %>
    <section class = "row" id="order-<%= order.id %>">
      <%= link_to order.id, "/profile/orders/#{order.id}", class: "col"%>
      <p class="col">Created On: <%= order.created_at %></p>
      <p class="col">Updated On: <%= order.updated_at %></p>
      <p class="col">Status: <%= order.status %></p>
      <p class="col"><%= order.count_of_items %> items</p>
      <p class="col">Total: <%= number_to_currency(order.grand_total) %></p>
    </section>
  <% end %>
</div>
