<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<ul class="addresses">
  <% @user.addresses_by_use.each do |address| %>
    <li class="addresses" id="address-<%=address.id%>">
      <h3><%= address.use %></h3>
      <p><%= address.address %></p>
      <p><%= address.city %> <%= address.state %> <%= address.zip %></p>
    </li>
  <% end %>
</ul>
